body{
    display: flex;
    flex-direction: column; 
}

img{
    width: 250px;
    aspect-ratio: auto  200 / 110;   
    height: 110px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    left: 400px;
    @media screen and (max-width:1200px) and (min-width:768px) {
        background: white;
    }
}
body h1{
font-size: 60px;
Position: relative;
top: -150px;
color: rgba(35, 156, 216, 255)
}